.list-none {
  list-style: none;
}

.size {
  width: 1200px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.space {
  width: 90%;
  margin: 0 auto;
}

.border-box {
  box-sizing: border-box;
}

.hidden {
  overflow: hidden;
}
