$color-primary: #0081ff;
$color-secundary: #63BEAF;
$color-dark: #41505f;
$color-grey: #828d98;
$color-light: #eaedf0;
$color-white: #ffffff;
$color-purple: #5a41a6;
$color-yellow: #ffec82;
$color-red: #b41852;

$radius: 4px;
